span.paginate-disabled {
    cursor: not-allowed;
    background: #efefef;
}

.paginate-hover:hover {
    background: #d5ebff;
    color: #002aff;
}

.tag-cloud-link:hover {
    background-color: #ffd369;
}

.blog-entry {
    box-shadow: none;
}

.blog-entry:hover {
    box-shadow: 0 0 10px #727272;
}

.dashboard-element {
    box-shadow: 5px 5px 10px -8px #727272;
    border-radius: 5px;
    padding: 30px 0 30px 50px;
    font-size: 20px;
    font-weight: bold;
}

.dashboard-element:hover {
    box-shadow: 5px 5px 10px #727272;
    color: #ff9900;
}

.dashboard-element-success {
    background: #dcffdc;
    color: #006400;
}

.dashboard-element-info {
    background: #dcfff4;
    color: #007264;
}

.dashboard-element-primary {
    background: #dae6ff;
    color: #002072;
}

.dashboard-element-secondary {
    background: #f3f3f3;
    color: #686868;
}

.dashboard-element-danger {
    background: #fff0f0;
    color: #c10000;
}

.custom-button-primary {
    border-right: 2px solid #002072;
    border-bottom: 2px solid #002072;
    border-top: 2px solid #748ac1;
    border-left: 2px solid #748ac1;
    background: #748ac1;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.custom-button-secondary {
    border-right: 2px solid #636363;
    border-bottom: 2px solid #636363;
    border-top: 2px solid #adadad;
    border-left: 2px solid #adadad;
    background: #adadad;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.custom-button-secondary:hover {
    background: #7f7f7f;
    border-top: 2px solid #7f7f7f;
    border-left: 2px solid #7f7f7f;
    cursor: pointer;
    color: white;
}

.custom-button-danger{
    border-right: 2px solid #aa0000;
    border-bottom: 2px solid #aa0000;
    border-top: 2px solid #fc2727;
    border-left: 2px solid #fc2727;
    background: #fc2727;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.custom-button-danger:hover {
    background: #c90000;
    border-top: 2px solid #c90000;
    border-left: 2px solid #c90000;
    cursor: pointer;
    color: white;
}

.custom-button-success{
    border-right: 2px solid #055000;
    border-bottom: 2px solid #055000;
    border-top: 2px solid #28a745;
    border-left: 2px solid #28a745;
    background: #28a745;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.custom-button-success:hover {
    background: #218838;
    border-top: 2px solid #218838;
    border-left: 2px solid #218838;
    cursor: pointer;
    color: white;
}

.search-result-tag {
    height: 80px;
    width: 191px;
    background: #ddf0f3;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 3px;
}

.search-result-tag:hover {
    background: #ffd369;
    cursor: pointer;
    box-shadow: 5px 5px 10px #727272;
}
